if [[ -z $VIRTUAL_ENV ]]; then
  if [[ ! -d .venv ]]; then
    python3 -m venv .venv
  fi

  source ./.venv/bin/activate
fi

if [[ -z $PYTHONSTARTUP ]]; then
    export PYTHONSTARTUP="$PWD/.pythonrc"
else
    echo "warning: PYTHONSTARTUP is already defined; ignoring .envrc value"
fi
